# Python cache/bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Logs
*.log


